@use "../abstracts/variables";
@use "../main/breakpoints";

/* ----- 33. Mission ----- */
// INDEX-20 MISSION
.rv-20-mission_section {
    padding: 80px 0;
    background-color: #F8F9FA;
    position: relative;
    z-index: 1;

    @media #{variables.$lg} {
        padding: 60px 0;
    }

    @media #{variables.$md,variables.$sm,variables.$mobile,variables.$sm-mobile} {
        padding: 50px 0;
    }

    .rv-20-mission_content {
        text-align: center;
    }

    .rv-20-mission_heading {
        .rv-20-mission_sub_title {
            color: #2D6A4F;
            font-weight: 500;
            font-size: 16px;
            width: 225px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border: 3px solid rgba(45, 106, 79, 0.24);
            border-radius: 25px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            column-gap: 4px;
            font-family: var(--mulish);
            margin: 0 auto 30px;

            span {
                width: 8px;
                height: 8px;
                background-color: #2D6A4F;
                border-radius: 50%;
                display: inline-block;
            }

            @media #{variables.$md,variables.$sm,variables.$mobile,variables.$sm-mobile} {
                margin-bottom: 20px;
            }
        }

        .rv-20-mission_title {
            font-size: 48px;
            line-height: 120%;
            font-weight: 700;
            color: #081C15;
            font-family: var(--urbanist);
            max-width: 900px;
            margin: 0 auto;

            @media #{variables.$lg} {
                font-size: 40px;
            }

            @media #{variables.$md} {
                font-size: 32px;
            }

            @media #{variables.$sm,variables.$mobile,variables.$sm-mobile} {
                font-size: 28px;
            }

            @media #{variables.$sm-mobile} {
                font-size: 24px;
            }
        }
    }
}

.rv-11-mission {
    text-align: center;
    background-color: #F7F4F0;
    position: relative;
    overflow: hidden;

    &__quote {
        color: rgba(5, 5, 5, 0.7);
        font-family: var(--mulish);
        font-size: 24px;
        font-weight: 500;
        line-height: 183.333%;
        margin-bottom: 36px;

        @media screen and (max-width: 1510px) {
            font-size: 22px;
            line-height: 173.333%;
        }

        @include breakpoints.xl {
            font-size: 20px;
            line-height: 163.333%;
            margin-bottom: 26px;
        }

        @include breakpoints.sm {
            font-size: 18px;
            line-height: 153.333%;
            margin-bottom: 16px;
        }

        @include breakpoints.xxs {
            font-size: 16px;
        }

        &::before {
            content: open-quote;
        }

        &::after {
            content: close-quote;
        }
    }

    &-quoter {
        text-align: left;
        border-radius: 20px 0px;
        background: var(--white-f);
        box-shadow: 0px 1px 1px 0px rgba(5, 5, 5, 0.16);
        display: inline-flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font-family: var(--mulish);
        color: var(--black);

        &__img img {
            width: 40px;
            height: 40px;
            border-radius: 10px 0;
        }

        &__name {
            font-size: 15px;
            font-weight: 700;
            line-height: 93.333%;
            margin-bottom: 8px;
        }

        &__label {
            font-size: 13px;
            font-weight: 500;
            line-height: 76.923%;
            display: block;
        }
    }

    &__imgs {
        height: 0;

        img {
            position: absolute;
            top: 40px;
            left: 0;
            clip-path: url(#rv-11-mission-path);
            min-width: 306px;
            aspect-ratio: 153 / 205;

            @media screen and (max-width: 1510px) {
                left: -40px;
            }

            @include breakpoints.xl {
                left: -70px;
                top: -40px;
            }

            @include breakpoints.lg {
                left: -150px;
            }

            @include breakpoints.md {
                left: -100%;
            }

            &:nth-child(2) {
                clip-path: url(#rv-11-mission-path-2);
                top: auto;
                left: auto;
                right: 0;
                bottom: 40px;

                @media screen and (max-width: 1510px) {
                    right: -65px;
                }

                @include breakpoints.xl {
                    right: -105px;
                    bottom: -30px;
                }

                @include breakpoints.lg {
                    right: -185px;
                }

                @include breakpoints.md {
                    right: -100%;
                }
            }
        }
    }
}