/*----- 48. TEAM MEMBER -----*/
.rv-inner-member-socials {
  .rv-9-member-socials__icon {
    background-color: #2d6a4f;
  }

  .rv-1-speaker__socials a:hover {
    background-color: #2d6a4f;
  }
}

.rv-team-members-section {
  .rv-9-member.rv-inner-member {
    display: flex;
    flex-direction: column;
    height: 100%;

    .rv-9-member__img {
      height: 350px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .rv-9-member__txt {
      flex: 1;

      .rv-3-project__title {
        font-family: $mulish;
        font-size: 25px;
        font-weight: 700;

        @media #{$lg, $md} {
          font-size: 30px;
        }

        @media #{$sm, $mobile, $sm-mobile} {
          font-size: 18px;
        }

        a {
          color: #2D6A4F;
          transition: 0.3s ease;

          &:hover {
            color: #1b5e20;
          }
        }
      }
    }
  }
}
